@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: helvetica-extrabold;
  src: url("../public/font/HelveticaNowDisplay-ExtraBold.woff2");
}
@font-face {
  font-family: helvetica-bold;
  src: url("../public/font/HelveticaNowDisplay-Bold.woff2");
}

@font-face {
  font-family: helvetica-medium;
  src: url("../public/font/HelveticaNowDisplay-Medium.woff2");
}

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "helvetica-medium", Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "helvetica-extrabold", Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
dialog[open] {
  opacity: 1;
  transform: translateY(0);
}
dialog[open],
dialog[open]::backdrop {
  opacity: 1;
  backdrop-filter: blur(5px);
}
dialog {
  transform: translateY(-10%);
}
dialog,
::backdrop {
  opacity: 0;
  transition-property: opacity, transform, overlay, display;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-behavior: allow-discrete;
}

@starting-style {
  dialog[open] {
    opacity: 0;
    transform: translateY(10%);
  }
  dialog[open]::backdrop {
    opacity: 0;
  }
}
